[Desktop Entry]
Type=Application
Name=Post Install RRAbuntu
Exec=/etc/skel/Rivendell/RRAbuntu-First_run.sh
Icon=/etc/skel/Rivendell/icons/RRAbuntu-post-install.svg
Comment=Post install config of RRAbuntu
