[Desktop Entry]
Type=Application
Name=RRAbuntu Demo
Exec=/etc/skel/Rivendell/RRAbuntu-demo.sh
Icon=/etc/skel/Rivendell/icons/RRAbuntu-demo.svg
Comment=Runs the RRAbuntu Demo
